.container {
    max-width: 1100px;
    margin: 0 auto;  
    /*  margin */
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
    height:100%
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: var(--shadow);
    padding: 20px;
    margin:10px;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;  /* changes the cursor to pointer  */
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: var(--light-color);
}

.btn:hover {
    transform: scale(1.05);
}

.btn-outline {
    background-color: transparent;
    border: 1px solid var(--light-color)
}


/*  Navbar */

.navbar {
    background-color: #79589f;
    color: var(--light-color);
    height:70px;
}

.navbar, .flex {
    justify-content: space-between;
}

.navbar ul {
    display:flex;
}

.navbar a {
    color:var(--light-color);
    padding:10px 15px;
}

.navbar a:hover{
        border-bottom: var(--light-color);
}

/* Showcase */

.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color:var(--light-color);
    position: relative;
}

.showcase-form {
    color: var(--text-color);
}

.showcase_feature {
    height: 250px;
    background-color: var(--primary-color);
    color:var(--light-color);
    position: relative;

}

.showcase_feature h1 {
    font-size: 45px;
  }
  
  .showcase_feature p {
    margin: 20px 0;
    font-size: 20px;
  }
  
  .showcase_feature .grid {
    grid-template-columns: 50% 30%;
    justify-content: space-between;
  }

.showcase_feature img {
    width: 90%;
}

/* margins */

.my-1 {
    margin: 1rem 0;
}
.my-2 {
    margin: 1.5rem 0;
}
.my-3 {
    margin: 2rem 0;
}
.my-4 {
    margin: 3rem 0;
}

.m-1 {
    margin: 1rem;
}
.m-2 {
    margin: 1.5rem;
}
.m-3 {
    margin: 2rem;
}
.m-4 {
    margin: 3rem;
}


/* paddings */

.py-1 {
    padding: 1rem 0;
}
.py-2 {
    padding: 1.5rem 0;
}
.py-3 {
    padding: 2rem 0;
}
.py-4 {
    padding: 3rem 0;
}

.p-1 {
    padding: 1rem;
}
.p-2 {
    padding: 1.5rem;
}
.p-3 {
    padding: 2rem;
}
.p-4 {
    padding: 3rem;
}

/* Stats */

.stats-heading {
    max-width: 500px;
    margin: auto;
}

.text-center {
    text-align: center;
}

.text-secondary {
    font-size: 20px;
    font-weight: bold;
}

.stats .grid h3 {
    font-size: 35px
}

/* backgrounds and colored btns */

.bg-primary, .btn-primary{
    background-color: var(--primary-color);
    color: var(--light-color)
}
.bg-secondary, .btn-secondary{
    background-color: var(--secondary-color);
    color: var(--light-color)
}
.bg-dark, .btn-dark{
    background-color: var(--dark-color);
    color: var(--light-color)
}
.bg-light, .btn-primalightry{
    background-color: var(--light-color);
    color: var(--text-color)
}

.bg-primary a, .btn-primary a, .bg-secondary a , .btn-secondary a,  .bg-dark a, .btn-dark a{
    color: var(--light-color)
}


@media screen and (max-width: 768px) 
   {
    .grid,
    .showcase .grid, .stats .grid,
    .cloud .grid,
    .install .grid
    {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
    .showcase .grid {
      gap: 0;
    }

    .showcase {
      height: auto;
    }

    .showcase-form {
      justify-self: center;
      margin: auto;
    }

    .showcase-text {
        text-align: center;
    }

    .boxes {
        grid-template-columns: 1fr;
    }
    .box1, .box2, .box3, .box4, .box5, .box6 {
        grid-column: 1 / span 3;
    }

  }